//начало стилей для html, body
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

html{
  font-size: rem(14px);
  @include phone412{
      font-size: rem(11px);
  }
}

body {
  margin: 0;
  font-size: rem(14px);
  background-color: $black;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.42;
}
//конец стилей для html, body

//начало стилей для внешнего и внутреннего контейнера
.wrapper{
  min-height: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.container{
  max-width: rem(980px);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: rem(10px);
  padding-right: rem(10px);
}
//конец стилей для внешнего и внутреннего контейнера

//------------стили для тегов------------
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-weight: normal;
}

*{box-sizing: border-box;}
