//начало стилей для кпопки, вызывающей выпадающее меню
.burger{
  display: none;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: left;
    @include tablet864{
      display: inline-block;
      z-index: 1;
    }
}

.burger__list{
  display: inline-block;
}

.burger__block{
  padding-bottom: rem(5px);
  width: rem(24px);
  height: rem(9px);
  &:last-child{
    padding-bottom: 0;
    height: rem(4px);
  }
}

.burger-inside{
  background-color: $white;
  border-radius: rem(1px);
  width: rem(24px);
  height: rem(4px);
}
//конец стилей для кпопки, вызывающей выпадающее меню
