//начало стилей блока с описанием под формой
.description{
  padding: rem(12px) rem(30px) rem(20px);
  background-color: $brown;
  color: $cold_gray2;
  font-family: Arial;
  font-size: rem(12px);
}
//конец стилей блока с описанием под формой
