.info{
  background-color: $beige;
  color: $cold_gray1;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 44px;
  padding-bottom: 21px;
}

.info__title{
  padding-bottom: 21px;
}

.info__key,
.info__valye{
  display: inline-block;
  text-align: left;
}

.info__key{
  width: 156px;
  padding-bottom: 8px;
}

.info__valye{
  color: $cold_gray3;
}
