//начало стилей блока с информацией от пользователя
.info{
  background-color: $beige;
  color: $cold_gray1;
  padding-left: rem(30px);
  padding-right: rem(30px);
  padding-top: rem(44px);
  padding-bottom: rem(21px);
}

.info__title{
  padding-bottom: rem(21px);
}

.info__key,
.info__valye{
  display: inline-block;
  text-align: left;
}

.info__key{
  width: rem(156px);
  padding-bottom: rem(8px);
}

.info__valye{
  color: $cold_gray3;
}
//конец стилей блока с информацией от пользователя
