.menu__item{
  &:nth-child(odd){
    background-color: $dark_odd;
  }
  &:nth-child(even){
    background-color: $dark_even;
  }
  &:last-child .menu__link{
    color: $grey;
  }
  &:hover{
    background-color: $dark_grey;
  }
}

.menu__link{
  height: 75px;
  width: 100%;
  padding-left: 30px;
  padding-top: 28px;
  display: inline-block;
  text-decoration: none;
  color: $white;
  font-size: 16px;
  font-weight: bold;
}
