.order{
  background-color: $beige;
  color: $cold_gray1;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
}

.card__title{
  font-size: 22px;
  font-weight: bold;
  color: $cold_gray3;
  padding-bottom: 20px;
}

.card__view{
  position: relative;
  height: 275px;
  font-size: 16px;
  font-family: Arial;
}

.card__up-side,
.card__down-side{
  display: inline-block;
  background-color: $beige;
}

.card__up-side{
  position: absolute;
  z-index: 10;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: $band_grey;
  border-radius: 10px;
  width: 350px;
  height: 236px;
  padding-top: 20px;
}

.card__down-side{
  position: absolute;
  z-index: 5;
  top: 19px;
  left: 190px;
  text-align: right;
  border-style: solid;
  border-width: 1px;
  border-color: $band_grey;
  border-radius: 10px;
  width: 374px;
  height: 237px;
  padding-top: 24px;
}

.card__row{
  padding-right: 9px;
  padding-left: 14px;
  padding-bottom: 13px;
}

.card__number-title{
  padding-bottom: 3px;
}

.card__number-input{
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: $band_grey;
  background-color: $white;
  width: 63px;
  height: 41px;
  margin-right: 7px;
  padding-left: 10px;
    &--color-red{
      border-color: red;
    }
}

.card__validity-text{
  padding-bottom: 4px;
}

.card__mounth,
.card__year{
    height: 41px;
    border-color: $band_grey;
    -webkit-appearance: none;
    padding-left: 15px;
    background:$white url('../img/arrow.svg') no-repeat 85% center;
    /* for FF */
    -moz-appearance: none;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    &:-ms-expand {
        display: none;
    }
}

.card__mounth{
    width: 70px;
    margin-right: 5px;
}

.card__year{
  width: 86px;
}


.card__person{
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: $band_grey;
  background-color: $white;
  width: 320px;
  height: 41px;
  padding-left: 10px;
    &--color-red{
      border-color: red;
    }
}

.card__band{
  height: 41px;
  width: 100%;
  background-color: $band_grey;
  margin-bottom: 17px;
}

.card__cvc{
  display: inline-block;
  text-align: left;
}

.card__cvc-title{
  padding-bottom: 2px;
}

.card__cvc-input{
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: $band_grey;
  background-color: $white;
  width: 136px;
  height: 41px;
  padding-right: 38px;
  padding-left: 10px;
    &--color-red{
      border-color: red;
    }
}

.card__cvc-after{
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
    &:after{
      position: absolute;
      z-index: 2;
      top: -18px;
      right: 12px;
      text-align: center;
      display: inline-block;
      content: "?";
      color: $light_gray;
      line-height: 1.7;
      border-style: solid;
      border-width: 1px;
      border-color: $light_gray;
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }
}

.order__submit-wrapper {
  padding-left: 14px;
}

.order__submit{
  display: block;
  border-radius: 20px;
  border: 0;
  background: -moz-linear-gradient($light_blue, $dark_blue);
  background: -webkit-gradient(linear, 0 0, 0 100%, from($light_blue), to($dark_blue));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$light_blue', endColorstr='$dark_blue');
  width: 133px;
  height: 40px;
  color: $white;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
}


//кастомизация формы
input:focus{
  outline: none!important;
}

select:focus{
  outline: none!important;
}

input::-moz-placeholder,
input::-ms-input-placeholder,
input::-webkit-input-placeholder{
  margin-left: 10px;
  color: rgba($light_gray, .9);
}
