.pay{
  @include clearfix();
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 8%;
  padding-bottom: 8%;
}
//TODO уточнить про паддинги

.pay__left,
.pay__right{
  float: left;
}

.pay__left{
  width: 33.5%;
}

.pay__right{
  width: 66.5%;
}
