//начало стилей для структурных блоков контента
.pay{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 8%;
  padding-bottom: 8%;
}

.pay__wrapper{
  @include clearfix();
  @include tablet864{
    min-width: rem(594px);
  }
}

.pay__left,
.pay__right{
  float: left;
}

.pay__left{
  width: 33.5%;
  @include tablet977{
    width: calc(100% - 638px);
  }
  @include tablet864{
    width: rem(40px);
    text-align: center;
  }
}

.pay__right{
  position: relative;
  width: 66.5%;
  min-width: rem(638px);
    @include tablet614{
      min-width: rem(360px);
    }
}
//конец стилей для структурных блоков контента
