.info{
  padding-top: 44px;
}

.info,
.order{
  background-color: $beige;
  color: $cold_gray1;
  padding-left: 30px;
  padding-right: 30px;
}

.description{
  padding: 26px 30px 30px;
  background-color: $brown;
  color: $cold_gray2;
  font-family: Arial;
  font-size: 12px;
}
