@mixin clearfix(){
  &:before,
  &:after {
    content:" ";
    display: block;
  }

  &:after {
    clear:both;
}}


// =================перевод px в rem=============
@function rem($px){
  @return $px/16px+0rem;
}
