doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width  initial-scale=1')
    title Оплата
    link(rel='stylesheet', href='css/main.min.css')
  body
    //- внешний контайнер
    .wrapper
      //- внутренний контайнер для адаптива
      .container
        section.pay
          .pay__left левая часть
          .pay__right правая часть
    
    //- внешний скрипт      
    script(src='js/script.min.js')
        
