include templates/menu/menu.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width  initial-scale=1')
    title Оплата
    link(rel='stylesheet', href='css/main.min.css')
  body
    //- внешний контайнер
    .wrapper
      //- внутренний контайнер для адаптива
      .container
        section.pay
          .pay__left 
            //блок меню
            +menu("menu", ["Личный кабинет", "Платеж", "История платежей", "Настройки", "Выход"])
            //конец блока меню
            
          .pay__right 
            //данные о пользователе (json)
            .info
              .info__title Информация по оплате:  
              ul.info__list
                li.info__item
                  .info__key Номер счета:
                  .info__valye
                li.info__item
                  .info__key Сумма платежа:
                  .info__valye  
            //конец данныx о пользователе 
                  
            //блок form    
            form.order
              
              .order__card
                .card__title Данные банковской карты
                .card__up-side
                  .card__row
                    label.card__number-title Номер карты
                    - for (var x = 0; x < 4; x++)
                      input.card__number
                  .card__row
                    label.card__validity Срок действия
                      select.card__mounth 
                      select.card__year
                  .card__row
                    input.card__person    
                .card__down-side
                  .card__row
                    label.card__cvc-title Код CVV2 / CVC2
                      input.card__cvc
              input(type='submit' value='оплатить' class="order__submit")       
            //конец form  
            
            //начало описания       
            .description
              |Исходя из астатической системы координат Булгакова, соединение 
              |Исходя из астатической системы координат Булгакова, соединение 
              |Исходя из астатической системы координат Булгакова, соединение 
              |Исходя из астатической системы координат Булгакова, соединение 
              |Исходя из астатической системы координат Булгакова, соединение 
              |Исходя из астатической системы координат Булгакова, соединение 
              |Исходя из астатической системы координат Булгакова, соединение 
            //конец описания  
    
    //- внешний скрипт      
    //- script(src='js/script.min.js')
        
