//переменные: цвета
$white: #fff;
$black: #101114;
$dark: #1f2229;
$grey: #808592;
$dark_grey: #2a2d37;
$beige: #f7f8f8;
$brown: #373c43;
$cold_gray1: #8494ab;
$cold_gray2: #89909d;
$cold_gray3: #383d43;
$light_gray: #bec6cf;
$band_grey: #e4e9ee;
$light_blue: #0059be;
$dark_blue: #004ca2;

//mixin
@import 'mixins/mixin.scss';
@import 'mixins/media.scss';

//block
@import 'block/adjustment.scss';
@import 'block/pay.scss';
@import 'block/menu.scss';
@import 'block/burger.scss';
@import 'block/menu_over.scss';
@import 'block/info.scss';
@import 'block/order.scss';
@import 'block/description.scss';
